<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.cocobear.alfred-quick-run</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08E1887D-D933-411B-B6B4-C59A1325A387</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7C95A9C-4B4F-4C1B-BCBD-45E0D443C6E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2627E25E-5B11-43B8-8DAB-7D8F6084A364</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>768CD673-FB75-41D3-A9A9-5EB37CA0DEE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2627E25E-5B11-43B8-8DAB-7D8F6084A364</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB5ED348-93F0-4FBF-B82A-233F3FAEB179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57FB5BDF-B991-4A58-B114-61BD6368FA8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>908860A7-10B8-4FE2-A76A-17DF3A0C4E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>768CD673-FB75-41D3-A9A9-5EB37CA0DEE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57FB5BDF-B991-4A58-B114-61BD6368FA8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8995EF38-C02C-4A37-A435-0B3FB492D9F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4373B39-2FEE-413C-8E54-919DABAD4555</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>908860A7-10B8-4FE2-A76A-17DF3A0C4E6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8995EF38-C02C-4A37-A435-0B3FB492D9F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB5ED348-93F0-4FBF-B82A-233F3FAEB179</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9FC6744-0655-4451-A311-79F182235736</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7C95A9C-4B4F-4C1B-BCBD-45E0D443C6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D911E76A-90C2-4994-9A9A-133B741A990E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC7C0FA1-E739-4DFE-8EA9-CA2FCEA46A28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08E1887D-D933-411B-B6B4-C59A1325A387</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cocobear</string>
	<key>description</key>
	<string>快速运行命令</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick Run</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
				<key>sourcefile</key>
				<string>{var:data_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D911E76A-90C2-4994-9A9A-133B741A990E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E7C95A9C-4B4F-4C1B-BCBD-45E0D443C6E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B9FC6744-0655-4451-A311-79F182235736</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^http</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2627E25E-5B11-43B8-8DAB-7D8F6084A364</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>{clip_0}</string>
				<key>replacestring</key>
				<string>{var:clip0}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DB5ED348-93F0-4FBF-B82A-233F3FAEB179</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>clip0</key>
					<string>{clipboard:0}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>08E1887D-D933-411B-B6B4-C59A1325A387</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:$PATH
python quick_run.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入命令关键词 或 命令的描述</string>
				<key>title</key>
				<string>命令查找</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC7C0FA1-E739-4DFE-8EA9-CA2FCEA46A28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8995EF38-C02C-4A37-A435-0B3FB492D9F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>success - command-search-alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B4373B39-2FEE-413C-8E54-919DABAD4555</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>{clip_0}</string>
				<key>replacestring</key>
				<string>{var:clip0}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>908860A7-10B8-4FE2-A76A-17DF3A0C4E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!(http|[/{])).+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>57FB5BDF-B991-4A58-B114-61BD6368FA8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>768CD673-FB75-41D3-A9A9-5EB37CA0DEE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>run shell command everywhere quickly with alfred</string>
	<key>uidata</key>
	<dict>
		<key>08E1887D-D933-411B-B6B4-C59A1325A387</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>2627E25E-5B11-43B8-8DAB-7D8F6084A364</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>57FB5BDF-B991-4A58-B114-61BD6368FA8E</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>768CD673-FB75-41D3-A9A9-5EB37CA0DEE8</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>8995EF38-C02C-4A37-A435-0B3FB492D9F2</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>908860A7-10B8-4FE2-A76A-17DF3A0C4E6F</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>B4373B39-2FEE-413C-8E54-919DABAD4555</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>B9FC6744-0655-4451-A311-79F182235736</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D911E76A-90C2-4994-9A9A-133B741A990E</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>DB5ED348-93F0-4FBF-B82A-233F3FAEB179</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>E7C95A9C-4B4F-4C1B-BCBD-45E0D443C6E7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>EC7C0FA1-E739-4DFE-8EA9-CA2FCEA46A28</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>data_path</key>
		<string>./cmd.yaml</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>data_path</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cocobear/alfred-quick-run</string>
</dict>
</plist>
